/*
  * Complete asset set for CoreUI.
  *= require @coreui/coreui/dist/css/coreui.min
*/

.form-control {
  border: 1px solid #e5e5e5;
  border-radius: 0 !important;
  &:focus {
    box-shadow: none !important;
    border-color: #393737;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.app-body {
  margin-top: 0px !important;
  background: #ffffff;
}

.app-header {
  background-color: #3A3A3A;
}


.kat-detay-card {
  width: 100%;
  display: inline-block;
}

.kat-detay-card-header {
  padding: .60rem 1.25rem;
  margin-bottom: 0;
  background-color: #43c5ff !important;
  font-size: 18px;
  color: #fff;
  border-bottom: 1px solid #39c4ff !important;
}

.card-header {
  background-color: #3A3A3A;
  border-bottom: 1px solid #3A3A3A;
  color: #fff;
  font-weight: 700;
}

.card-body {
  border: 1px solid #f1f1f1;
}

.header-fixed .app-header {
  box-shadow: 1px 2px 9px 0px rgba(21, 21, 21, 0.24);
  border-bottom: 1px solid #3A3A3A;
}

.kategori-kutu {
  display: block;
  position: relative;
  padding: 3px;
}

.img-responsive {
  width: 100%;
  display: block;
  position: relative;
}

.prod-res {
  width: 100%;
  height: 235px;
}

.app-footer {
  display: block;
  position: relative;
  background: #fdfdfd;
  border-top: 1px solid #f3f3f3;
  padding: 35px 0px 20px 0px;
}

.nav-link {
  font-size: 17px;
  font-weight: 400;
}

.app-header .nav-item .nav-link > .img-avatar:hover {
  border: 2px solid #fff;
  transition: all .3s;
}

.navbar-nav .nav-link.active {
  color: #fff;
  border-bottom: 3px solid #fff;
  padding: 18px 0px 9px 0px;
  letter-spacing: 0px;
  font-weight: 500;
}

.app-header.navbar{
  position: relative;
  top: 0px;
}
